*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
body{
    margin: 0;
    background-color: #E6EFAB;
    color: #333;
    line-height: 1.6;
}
  
.container{
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: none;
}
 
/*========header photo Section!=========*/


 
h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0D4A03;
}
  
nav ul{
    list-style: none;
}
  
nav ul li{
    display: inline;
    margin: 0 20px;
}
  
nav ul li a{
    color: #000000;
    text-decoration: none;
}
  
button{
    padding: 10px 20px;
    background-color: #00FF03;
    color: black;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 10px #F50537;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    align-items: center;
}
  
button:hover{
    background-color: #09CCFF;
} 
  
  
  /*==========Home===========*/
  
.home{
    position: relative;
    width: 100%;
    height: 70px;
    background-size: fixed;
    background: linear-gradient(135deg, #4E11AE, #8310C9, #3C0EBF, #0C6087, #8718CF);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  /*========About Me=========*/
  
.about{
    background: #1BFF00;
    color: #FF0000;
}
    
.section{
    padding: 20px 0;
}
  
.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
  
.about-grid img{
    width: 100%;
    height: fit-content;
    border-radius: 50%;
  /*======= Image keyframe effects =========*/
    opacity:0;
    animation: zoomIn .5s ease forwards, floatImage 2s ease-in-out infinite;
    animation-delay: .5s, .9s;
}
  
@keyframes zoomIn{
    0%{
      transform: scale(0);
      opacity:0;
    }
    
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
.about-text{
    justify-content: center;
    align-items: center;
}

.about-grid button{
    margin-top: 25px;
}
  
  /*========Download CV!=========*/

.primary-btn{
    padding: 10px 20px;
    background-color: #00FF03;
    color: black;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 10px #F50537;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    align-items: center;
}
 
  /*===========Education Section!============*/
  
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
  
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 10px;
    border-radius: 5px;
    background: #00C8DD;
    transform: translateX(-50%);
}
  
.timeline-item {
    position: relative;
    margin: 20px 0;
    padding-left: 50px;
    width: 50%;
}
  
.timeline-item:nth-child(odd) {
    left: -5%;
    padding-left: 50px;
    text-align: right;
}
  
.timeline-item:nth-child(even) {
    left: 50%;
    padding-right:-50px;
    text-align: left;
}
  
.timeline-item:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 50%;
    width: 12px;
    height: 12px;
    background: #FF0000;
    border-radius: 50%;
    transform: translateX(-50%);
}
  
.timeline-date {
    font-size: 1.2rem;
    font-weight: bold;
    color: darkgoldenrod;
}
  
.timeline-content {
    background: #92DD4B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
  
.timeline-content:hover{
    background-color: #09CCFF;
}
  
.timeline-content h3 {
    font-size: 1.5rem;
    margin-top: 0;
}
  
.timeline-content h3 span{
    font-size: 1rem;
}
  
.timeline-content p{
    margin: 10px 0;
}
.timeline-content p span{
    color: red;
}
  
.timeline-item:nth-child(odd) .timeline-content {
    margin-right: auto;
    margin-left: 50px;
}  
.timeline-item:nth-child(even) .timeline-content {
    margin-left: auto;
    margin-right: 50px;
}
  
  
  /*========Project!=========*/
  
.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
}
  
.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.card:hover{
    transform: scale(1.05);
    border-color: #0900E1;
}
  
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.description{
    padding: 20px;
    display: none;
    background-color: #FFF;
}
  
.card .content{
    padding: 15px;
}
  
.card-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #AA00E1;
}
  
.card-text{
    color: #555;
    margin-top: 10px;
}
   
@media screen and (max-width: 768px){
    .project-container{
      grid-template-columns: 1fr;
    }
}
  
  /*========Contact Me!=========*/
  
Form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
form label{
    margin-bottom: 5px;
}
  
#name, #email, #mobile{
    border-radius: 50px;
}
  
form input, form textarea{
    padding: 5px;
    margin-bottom: 20px;
    border: 3px solid #A9A6A6;
    border-radius: 10px;
}
  
form button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 20px;
    /*
    margin-left: 30%;
    padding: 5px;
    background: #61DB2C;
    font-size: 25px;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 40%;*/
}
  
form button:hover{
    background: #09AB53;
}
  
form textarea{
    height: 100px;
}
  
#responseMessage {
    margin-left: 40%;
    margin-top: 7px;
    color: #d9534f;
    align-content: center;
}
  
  
  
  /*========put social media=========*/
  
.social-media{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 20px;
    justify-content: center;
}
  
.social-media a{
    text-decoration: none;
    color:#fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
    gap: 20px;
    /*========Keyframe effect================*/
    opacity:0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
  
@keyframes slideleft{
    0%{
      transform: translateX(100px);
      opacity:0;
    }
    
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
.social-media a:hover{
    background:#0BEFFF;
    color: #000000;
    box-shadow: 0 0 20px #000000;
}
  
.linkedin{
    background-color: #0077b5;
}
  
.github{
    background-color: #000;
}
  
.whatsapp{
    background-color: #60f967;
}
  
.instagram{
    background-color: rgba(255, 44, 0, 1);
}
  
.twitter{
    background-color: #55acee;
}
  
.facebook{
    background-color: #3a78fb;
}
  
  /*========Footer=========*/
  
footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}
  
.content {
    padding: 13.5px;
}
  
.to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #42FF00;
    color: #6D7094;
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    display: none; /* Hidden by default */
    z-index: 1000;
}
  
.to-top-btn:hover {
    background-color: #63ECE7;
}